<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Detalles de la aplicación</ion-title>
 
  </ion-toolbar>
</ion-header>
 
<!--comentario el cuerpo de la aplicacion-->
<ion-content class="ion-padding">
  <h2>Navegacion</h2>
  <p>Esta pantalla mostrara los detalles de la app</p>
   <p>Colaboradores: Brayan Castillo Cortes</p>
   <ion-button default href="home">
    <ion-icon slot="icon-only" name="home"></ion-icon>
    
    Ir a home<ion-icon name ="logo-ionic" size="large" color="secondary"></ion-icon>


   </ion-button>
  
 
   

 
</ion-content>
 