<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi primera app 23221076 </ion-title>
   
  </ion-toolbar>
</ion-header>
 
  <ion-content class="ion-padding">
    <h2> En mis vacaciones de verano sólo me dediqué a trabajar e ir al gimnasio.</h2>
    <p>Esta es mi primera app.</p>
    <ion-button href="detalle"> Ir a Detalle</ion-button>
    <ion-button href="registro"> Ir a registro</ion-button>
    <ion-button href="gestion-alumnos"> Gestión alumnos</ion-button>
    <ion-button href="gestion-carreras"> Gestión carreras</ion-button>
  </ion-content>
